<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/headerPost') %>
</head>
<body>
    <main>

        <h1>Formulario de creacion de Pelicula </h1>
        <form action="/movies/create" method="POST">
            <label for="">Title</label>
            <input type="text" name="title">
            <p></p>
            <label for="">Rating</label>
            <input type="text" name="rating">
           <p></p>
            <label for="">Awards</label>
            <input type="text" name="awards">
            <p></p>
            <label for="">Release Date</label>
            <input type="date" name="release_date">
            <p></p>
            <label for="">Length</label>
            <input type="text" name="length">
            <p></p>
            <label for="">Genre</label>
            <select name="genre_id" >
                <% generos.forEach(genero => { %>
                    <option value="<%= genero.id %>"><%= genero.name %> </option> <!--el value genero id es para que mande el numero de genero a guardar en la BD-->
               <% }) %>
            </select>            
            <p></p>
            <label for="">Actors</label>
            <select name="actores" multiple> <!--multiple es para poder seleccionar varios actores-->
                <% actores.forEach(actor => { %>
                    <option value="<%= actor.id %>"><%= actor.first_name %> <%= actor.last_name %> </option> <!--el value genero id es para que mande el numero de genero a guardar en la BD-->
               <% }) %>
            </select>  
            <p></p>
            <button type="submit">Crear!</button>
            <p></p>
            <a href="/movies/"> <button> Cancelar </button></a>
        
        
        </form>
    </main>
</body>
</html>