<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Header -->
    <%- include('partials/headerPost') %>
    <!-- /Header -->
    <h1>Listado de Peliculas mas Recientes </h1>
    <section>        
        <article>          
            <ul>
                <% newMovies.forEach(movie => { %>
                    <li>
                        <h4><a href="/movies/detail/<%= movie.id %>"><%= movie.title %></a></h4>
                            <h5>Rating: <%= movie.rating %> </h5>
                            <h5>Premios:  <%= movie.awards %> </h5>
                            <% if(movie.generos) { %> <!-- PARA QUE NO DE ERROR YA QUE ALGUNAS PELIS NO TIENE GENERO, SON NULL -->
                                <h5>Genero: <%=movie.generos.name%> </h5>  <!-- DEBO USAR genero Y NO Genre, ya que asi llame a la relacion -->
                            <% } %>
                            <h5>Duracion: <%= movie.length %> </h5>
                            <h5>Estreno: <%= movie.release_date %> </h5>
                            <br>
                            
                        <p></p>                                          
                    </li>
                <% }) %>
            </ul>
        </article>
    </section>
</body>
</html>